<html>
    <head>
        <title>
            post_list.html
        </title>
    </head>
    <body>
        <div class="alarm message">
           <a href="/new">New - Write new text </a>
           <!-- <ul>
               {% for data in post %}
                <li><a href = "{{ data }}"></a></li>
                {% endfor %}
            </ul>
                 -->
        </div>
        <div class = "data content">
            <ul>
                {% for data in post %}
                <li>{{ data }} </li>
                {% endfor %}
            </ul>
        </div>
        
    </body>
</html>